.b-mac {
    width: 100%;
    height: 600px;
    background-image: url(/assets/img/mac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-star;
}

.b-text--bold--sec {
    color: var(--morado);
}

.b-title {
    span {
        display: block;
        text-align: center;
    }
}